/* Body styles */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #f8f9fa;
  color: #333;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}
/* Light Body Theme */
body.light-theme {
  background-color: #f8f9fa;
  color: #333;
}
/* Dark Body Theme */
body.dark-theme {
  background-color: #333;
  color: #f8f9fa;
}

/* Header styles */
header {
  background-color: #007bff;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}
/* Light Header Theme */
header.light-theme {
  background-color: #007bff;
  color: #ffffff;
}
/* Dark Header Theme */
header.dark-theme {
  background-color: #00418c;
  color: #333;
}

/* Container styles */
.container-lg {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Textarea styles */
textarea {
  background-color: transparent;
  border: 1px solid #ced4da;
  color: #ffffff;
  padding: 10px;
  margin: 0;
  width: 100%;
  border-radius: 0;
  border-left: none;
  border-right: none;
  resize: none;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
/* Light Textarea Theme */
textarea.light-theme {
  color: #ffffff;
}
/* Dark Textarea Theme */
textarea.dark-theme {
  color: #000000;
}
textarea:hover {
  border-color: #007bff;
}
textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

/* Description class */
.description {
  white-space: pre-wrap;
  transition: background-color 0.3s ease-in-out;
}

/* Time block styles */
.time-block {
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.time-block:hover {
  transform: translateY(-5px);
}

/* Hour styles */
.hour {
  background-color: #007bff;
  color: #fff;
  border-radius: 8px 0 0 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.25rem;
}

/* Past time block styles */
.past .description {
  background-color: #f8a5c2;
}
/* Present time block styles */
.present .description {
  background-color: #ffc107;
}
/* Future time block styles */
.future .description {
  background-color: #82ca9c;
}

/* Save button styles */
.saveBtn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0 8px 8px 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s;
}
.saveBtn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
/* Save button icon styles */
.saveBtn i {
  font-size: 1.5rem;
}